@page "/edit_type_of_car/{id:int}"

@using RentCar.UI.Data.Cars.TypeOfCars.Models;
@using RentCar.UI.Data.Cars.TypeOfCars.Services;

@inject TypeOfCarService TypeOfCarService
@inject NavigationManager NavigationManager

<h1>Type of cars!</h1>
<strong style="display: inline;">Edit:</strong> <p style="display: inline;">@typeOfCar.Description</p>

<hr />

@if (requesting)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" style="width: 12rem; height: 12rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{
    <EditForm Model="@typeOfCar" OnValidSubmit="@HandleValidSubmit">

        <DataAnnotationsValidator />
        <ValidationSummary />

        @if (requestFailed)
        {
            <strong style="color: red;">@errorMessage</strong>
        }

        <div class="form-group">
            <input @bind-value="typeOfCar.ID" type="hidden" />

            <div class="form-group">
                <label for="description">Description</label>
                <InputText id="description" class="form-control" @bind-Value="typeOfCar.Description" />
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <InputSelect @bind-Value="typeOfCar.Status" id="status" class="form-control valid">
                    @foreach (var status in Enum.GetValues(typeof(TypeOfCarStauts)))
                        {
                        <option value="@status">@status</option>
                        }
                </InputSelect>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int ID { get; set; }

    private TypeOfCar typeOfCar = new TypeOfCar();

    private bool requesting;
    private bool requestFailed;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        typeOfCar = await TypeOfCarService.GetByID(ID);
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            requesting = true;
            await TypeOfCarService.Put(typeOfCar);
            requesting = false;
            NavigationManager.NavigateTo("type_of_cars");

        }
        catch (Exception e)
        {
            requestFailed = true;
            requesting = false;
            errorMessage = e.Message;
        }
    }
}